@page
@model TorneoDeFutbol.App.Frontend.pages.Equipos.DetailsModel
@{
}
<h1>Detalle del Equipo</h1>

<table class="table table-striped">
 
        <tr>
            <th scope="col">Nombre</th>
            <td>@Model.equipo.nombre</td>
        </tr>
        <tr>
            <th scope="col">Municipio</th> 
            <td>@Model.equipo.municipio</td>   
        </tr>
        <tr>
             <th scope="col">Estadio</th>
             <td>@Model.equipo.estadio</td>   
        </tr>
      
          <tr>
            <th scope="col">Registro</th>
            <td>@Model.equipo.registro</td>
        </tr>
          <tr>
            <th scope="col">Director Tecnico</th>
            <td>@Model.equipo.directorTecnico</td>
        </tr>
        <tr>
         <th scope="col">Jugador</th>
        @if (Model.equipo.jugador == null)
        {
            <th>
                <a class="btn btn-secondary" asp-page="./AddJugador" asp-route-idEquipo="@Model.equipo.idEquipo">
                    Asignar Jugador
                </a>
            </th>
        }
        else
        {
            <td>@Model.equipo.jugador.nombre</td>
        }
    </tr>
       
    </table>
            
    <a class="btn btn-secondary" asp-page="./Index">Volver</a>

