@page
@model TorneoDeFutbol.App.Frontend.Pages.Equipos.IndexModel
@{
}

<a class="btn btn-primary" asp-page="./Create">Crear Equipo</a>

<h1>Listado de Equipos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombres</th>
            <th scope="col">Municipio</th>
            <th scope="col">Estadio</th>
            <th scope="col">Jugador</th>
             <th scope="col">Registro</th>
            <th scope="col">Director Tecnico</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <td>@equipo.idEquipo</td>
                <td>@equipo.nombre</td>
                <td>@equipo.municipio</td>
                <td>@equipo.estadio</td>
                <td>@equipo.jugador</td>
                <td>@equipo.registro</td>
                <td>@equipo.directorTecnico</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-idEquipo="@equipo.idEquipo">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-idEquipo="@equipo.idEquipo">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>