@page
@using TorneoDeFutbol.App.Dominio
@model TorneoDeFutbol.App.Frontend.Pages.Estadios.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear Estadios</a>
<h1>Listado de los Estadios</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
    </div>
    <button type="submit" class="btn btn-success">Buscar</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estadio in Model.estadios)
        {
            <tr>
                <td>@estadio.nombre</td>
                <td>@estadio.direccion</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@estadio.idEstadio">Detalles</a>
                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@estadio.idEstadio">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>