@page
@model TorneoDeFutbol.App.Frontend.pages.Jugadores.DetailsModel
@{
}
<h1>Detalle del Jugador</h1>

<table class="table table-striped">
 
        <tr>
            <th scope="col">Nombres</th>
            <td>@Model.jugador.nombre</td>
        </tr>
        <tr>
            <th scope="col">Apellidos</th> 
            <td>@Model.jugador.apellido</td>   
        </tr>
        <tr>
             <th scope="col">Teléfono</th>
             <td>@Model.jugador.numTelefono</td>   
        </tr>
        <tr>
            <th scope="col">Direccion</th>
            <td>@Model.jugador.direccion</td>
        </tr>
        <tr>
            <th scope="col">Fecha de Nacimiento</th>
            <td>@Model.jugador.fechaNacimiento</td>
        </tr>

         
    </table>
            
    <a class="btn btn-secondary" asp-page="./Index">Volver</a>

