@page
@model TorneoDeFutbol.App.Frontend.Pages.Directores.IndexModel
@{
}

<a class="btn btn-primary" asp-page="./Create">Crear DT</a>

<form method="get" class="form-inline">
    <label for="p" class="my-1 mr-2">Genero</label>
    <select name="p" id="p" asp-for="@Model.pActual" asp-items="Html.GetEnumSelectList<Genero>()" class="custom-select my-1 mr-sm-2">
        <option value="-1">Ver todos</option>    
    </select>
    <button type="submit" class="btn btn-primary my-1">Filtrar</button>
</form>

<form method="get" class="form-inline">
    <label for="b" class="my-1 mr-2">Buscar</label>
    <input type="text" name="b" id="b" asp-for="@Model.bActual" class="my-1 mr-sm-2">
    <button type="submit" class="btn btn-primary my-1">Buscar</button>
</form>

<h1>Listado de Directores Técnicos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Teléfono</th>
            <th scope = "col">Número Documento</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var director in Model.directores)
        {
            <tr>
                <td>@director.nombre</td>
                <td>@director.apellido</td>
                <td>@director.numTelefono</td>
                <td>@director.numDocumento</td>
              
                <td>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@director.idParticipante">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>